Repository akito1019/meal-diary, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ui, ai, database, documentation, config, test, dependencies

feat: 過去の食事記録選択時にメモも自動コピー
  components/ai/AIImageAnalyzer.tsx
  components/ai/MealAnalysisResult.tsx
  components/meals/meal-form.tsx
Labels: frontend, ui, ai

fix: GitHub Actions PR自動作成ワークフローを修正
  .github/workflows/auto-create-pr.yml
Labels: config

fix: PR自動作成をdevelopブランチベースに修正
  .github/workflows/auto-create-pr.yml
Labels: config

fix: Claude Auto Review ワークフローのエラーを修正
  .github/workflows/claude-auto-review-alternative.yml
  .github/workflows/claude-auto-review.yml
Labels: config

fix: GitHub Actions権限エラーを修正
  .github/workflows/claude-auto-review-alternative.yml
Labels: config

fix: TypeScript compilation errors
  .eslintrc.json
  CLAUDE.md
  app/api/ai/analyze-meal/route.ts
  app/api/meal-types/[id]/route.ts
  app/api/meals/[id]/route.ts
  app/api/meals/route.ts
  app/api/meals/suggestions/route.ts
  app/api/upload/route.ts
  app/auth/callback/route.ts
  app/auth/signout/route.ts
  app/components/common/PortfolioView.tsx
  app/globals.css
  app/meals/[id]/page.tsx
  app/meals/new/page.tsx
  app/meals/page.tsx
  components/ai/MealAnalysisResult.tsx
  components/ai/index.ts
  components/common/Toast.tsx
  components/meals/meal-form.tsx
  components/nutrition/index.ts
  hooks/useLazyLoading.ts
  lib/ai/image-similarity.ts
  lib/ai/prompts.ts
  lib/cache.ts
  lib/supabase/server.ts
  supabase/migrations/002_add_email_to_profiles.sql
  types/ai.ts
Labels: frontend, backend, ui, ai, database, documentation, config

fix: ESLint v9 compatibility issue
  package.json
Labels: config, dependencies

fix: update package-lock.json for ESLint dependencies
  package-lock.json
Labels: config, dependencies

fix: resolve ESLint warnings to pass GitHub Actions
  app/components/common/Calendar.tsx
  app/components/common/DailyMealList.tsx
  app/components/common/PortfolioView.tsx
  app/meals/[id]/page.tsx
  components/common/OptimizedImage.tsx
  components/common/Toast.tsx
Labels: frontend, ui

fix: resolve TypeScript compilation error in Toast component
  components/common/Toast.tsx
Labels: frontend, ui

.github/labeler.yml:

# PRの変更内容に基づいて自動的にラベルを付与する設定

# フロントエンド関連
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'app/**/*.tsx'
      - 'app/**/*.ts'
      - 'components/**/*.tsx'
      - 'components/**/*.ts'
      - 'hooks/**/*.ts'

# バックエンド/API関連
backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'app/api/**/*.ts'
      - 'lib/supabase/**/*.ts'
      - 'lib/openai/**/*.ts'

# UI/スタイリング関連
ui:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.css'
      - 'app/globals.css'
      - 'components/**/*.tsx'
      - '**/layout.tsx'

# AI機能関連
ai:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/ai/**/*'
      - 'components/ai/**/*'
      - 'hooks/useAI.ts'
      - 'app/api/ai/**/*'

# データベース関連
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'supabase/migrations/**/*'
      - 'types/database.ts'

# ドキュメント
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# 設定ファイル
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
      - 'next.config.*'
      - '.eslintrc.*'
      - '.github/**/*'

# テスト関連
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/*.spec.ts'
      - '**/*.spec.tsx'
      - 'jest.config.*'

# 依存関係
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
